<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    
    <context:component-scan base-package="springmvcjson" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <mvc:annotation-driven></mvc:annotation-driven>

    <!--静态资源访问-->
<!--    <mvc:default-servlet-handler/>-->
    <mvc:resources mapping="/static/js/**" location="/static/js/"/>
    <mvc:resources mapping="/static/html/**" location="/static/html/"/>
    <mvc:resources mapping="/static/css/**" location="/static/css/"/>
    <mvc:resources mapping="/static/img/**" location="/static/img/"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" id="viewResolver">
        <property name="prefix" value= "/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="httpMessageConverter"></ref>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <bean class ="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"
          id="httpMessageConverter">
        <property name="objectMapper">
            <bean class="com.fasterxml.jackson.databind.ObjectMapper">
                <property name="dateFormat">
                    <bean class="java.text.SimpleDateFormat">
                        <constructor-arg name="pattern" value="yyyy-MM-dd"></constructor-arg>
                    </bean>
                </property>
                <property name="timeZone" value="Asia/Shanghai"></property>
            </bean>
        </property>
    </bean>
</beans>